html,
body {
  background-color: #f0f0f0;
  top: 0px;
  margin: 0px;
  font-size: 12px;
  height: 100%;
}
@font-face {
  font-family: 'Crimson Text';
  src: local('CrimsonText-Reg'), url('/fonts/CrimsonText-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navbar {
  width: 60vw;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  color: #d8d8d8;
  z-index: 1000; /* Ensure navbar is above other content */
}
.name {
  flex: 5;
  font-family: 'Crimson Text', serif;
  font-size: 2.2rem;
  letter-spacing: 1pt;
}
.name a {
  flex: 5;
  font-family: 'Crimson Text', serif;
  font-size: 2.2rem;
  letter-spacing: 1pt;
  text-decoration: none;
  color: #a2a2a2;
  /*text-shadow: 0px 0px 15px rgba(255,255,255,0.3);*/
}
.navigation {
  flex: 5; 
  display: flex;
}
.navigation div {
  flex: 3;
  text-align: center;
}
.navigation a {
  text-decoration: none;
  color: #a2a2a2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 1.5pt;
  transition-delay: 0ms;
  transition-property: color;
  transition-timing-function:linear;
  transition-duration: 0.3s;
}
.navigation a:hover {
  color: #d8d8d8;
  text-transform: uppercase;
  text-decoration: none;
}
footer {
  width: 100vw;
  margin-bottom: 0px;
  box-sizing: border-box;
  padding: 5vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;  
  color: #fff;
  z-index: 1000; /* Ensure footer is above other content */
  text-shadow: 0px 0px 1px #000;
}
footer a {
  text-decoration: none;
  color: #fff;
}