html,
body {
  background-color: #f0f0f0;
  top: 0px;
  margin: 0px;
  font-size: 12px;
  height: 100%;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/BodoniModa-VariableFont.ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand Bold';
  src: url('/fonts/Quicksand-Bold.ttf');
}
@font-face {
  font-family: 'Courier Prime';
  src: url('/fonts/CourierPrime-Regular.ttf');
}
@font-face {
  font-family: 'Courier Prime';
  src: url('/fonts/CourierPrime-Italic.ttf');
  font-style: italic;
}
.navbar {
  width: 60vw;
  display: flex;
  margin: 0 auto;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  color: #a2a2a2;
  z-index: 1000; /* Ensure navbar is above other content */
}
.name {
  flex: 5;
  display: flex;
  align-items: center;
  font-family: 'Quicksand Bold', serif;
  font-size: 1.5vw;
}
.navigation {
  flex: 5; 
  display: flex;
  font-family: 'Quicksand', sans-serif;
}
.navigation div {
  flex: 3;
  text-align: center;
}
.navigation a {
  text-decoration: none;
}
.normal {
  font-family: 'Quicksand', serif;
  font-size: 1vw;
  color: #a2a2a2;
  text-decoration: none;
  text-transform: uppercase;
}
.active {
  font-family: 'Quicksand Bold', serif;
  color: #D8D8D8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
}
footer {
  width: 100vw;
  bottom: 2vh;
  position: relative;
  font-family: 'Quicksand Bold', sans-serif;
  font-size: 0.9vw;
  text-align: center;
  color: #d8d8d8;
  z-index: 1000; /* Ensure footer is above other content */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
footer a {
  text-decoration: none;
  color: #d8d8d8;
}